#map {
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  touch-action: manipulation;
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100vw;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;

  background: rgba(255, 255, 255, 0.95);
}

footer {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 16px;

  display: flex;
  align-items: center;

  font-size: 10px;

  background: black;
  color: white;
}

.text-normal {
  font-size: 20px;
}

.text-large {
  font-size: 32px;
}

.here {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  left: 10px;

  width: 40px;
  height: 40px;

  background: white;
  border: none;
}

.here-icon {
  width: 24px;
  height: 24px;
}