.container {
  max-height: 100vh;
  position: relative;
}

.header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  border-bottom: solid 1px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-items: center;
}

.medium {
  font-size: 20px;
}

.large {
  font-size: 32px;
}

.range {
  width: 100%;
  text-align: center;
}